<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
    <description>反馈的控制器</description>
    <servlet-name>FeedBackServlet</servlet-name>
    <servlet-class>com.qqliquer.servlet.FeedBackServlet</servlet-class>
  </servlet>
 <servlet>
    <description>下订单</description>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.qqliquer.servlet.OrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FeedBackServlet</servlet-name>
    <url-pattern>/feedBack.html</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order.html</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>/</welcome-file>
  </welcome-file-list>
</web-app>
